openapi: 3.1.0
info:
  title: Venly Finance API
  description: "REST API for the Venly Finance platform:\n- Party management (Individuals & Organisations)\n\
    - Account management with party association\n- Wallet balances & token allowances on supported chains\
    \ (Base, Avalanche)\n- Virtual bank account assignment for global payments (EUR SEPA)\n- Fiat-to-crypto\
    \ payment sessions (pay-in)\n- Account-to-account fiat & crypto transfers\n- EIP-2612 permits and\
    \ payment requests\n\n## Authentication\n\nAll endpoints use OAuth2 client credentials. Obtain a token\
    \ first, then include it in every request:\n\n**Step 1 — Get a token:**\n```bash\ncurl -X POST https://login.venly.io/auth/realms/VenlyFinance/protocol/openid-connect/token\
    \ \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=client_credentials&client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}\"\
    \n```\n\n**Step 2 — Use the token:**\n```\nAuthorization: Bearer {access_token}\n```\n\nTokens expire\
    \ after **5 minutes**. Implement refresh logic in your client.\n"
  version: 1.1.0
  contact:
    name: Venly Support
    email: support@venly.io
    url: https://docs.venlyfinance.com
  license:
    name: Proprietary
  x-logo:
    url: https://venlyfinance.com/logo.png
  x-security-contact: security@venly.io
servers:
- url: https://api.venlyfinance.com/v1
  description: Production
- url: https://api-staging.venlyfinance.com/v1
  description: Staging
security:
- OAuth2: []
tags:
- name: Parties
  description: Party management (Individuals & Organisations)
- name: Accounts
  description: Account management, party-role associations
- name: Wallets
  description: Blockchain wallet balances
- name: Virtual Bank Accounts
  description: Virtual bank account payment references for global payments
- name: Fiat-to-crypto Payment Sessions
  description: Fiat-to-crypto payment session creation
- name: Payment Requests
  description: Payment request management for card provider integrations
- name: Transfers
  description: Fiat and crypto transfer operations between accounts
- name: Permits
  description: EIP-712 permit signature management for token approvals
- name: Allowances
  description: Token allowance management for wallets
paths:
  /parties:
    get:
      tags:
      - Parties
      summary: List all parties
      description: '**Step 1 of the Finance API Flow**


        Retrieves all parties (Individuals and Organisations) in your system. Parties are the foundation
        of the Finance API - they represent the people or organizations that will hold accounts.


        **Use this endpoint to:**

        - View all registered customers and organizations

        - Search for existing parties before creating accounts

        - Audit party records and their KYC/KYB status


        **Next Step:** Use the party ID to create an account.

        '
      operationId: listParties
      parameters:
      - name: partyType
        in: query
        description: Filter by party type
        schema:
          $ref: '#/components/schemas/PartyType'
        example: INDIVIDUAL
      - name: status
        in: query
        description: Filter by party status
        schema:
          $ref: '#/components/schemas/PartyStatus'
        example: ACTIVE
      - name: externalId
        in: query
        description: Filter by external ID (exact match)
        schema:
          type: string
        example: user-12345
      - $ref: '#/components/parameters/SortOn'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of parties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyListResponse'
              example:
                success: true
                result:
                - id: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  externalId: user-12345
                  partyType: INDIVIDUAL
                  status: ACTIVE
                  firstName: Jane
                  lastName: Doe
                  createdAt: '2026-01-15T09:30:00'
                pagination:
                  pageNumber: 1
                  pageSize: 20
                  numberOfElements: 1
                  numberOfPages: 1
                  hasNextPage: false
                  hasPreviousPage: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Parties
      summary: Create a new party
      description: '**Step 1 of the Finance API Flow**


        Creates a new party (Individual or Organisation). This is the first step in onboarding a customer
        or organization to the Finance platform.


        **Party Types:**

        - **INDIVIDUAL**: Natural persons. Requires firstName, lastName.

        - **ORGANISATION**: Companies or businesses. Requires name, optionally vatNumber.


        **Next Step:** Use the returned party ID to create an account.

        '
      operationId: createParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartyRequest'
            example:
              partyType: INDIVIDUAL
              externalId: user-12345
              firstName: Jane
              lastName: Doe
              address:
                addressLine1: 1 Example Street
                city: Amsterdam
                postalCode: 1011AB
                country: NL
      responses:
        '201':
          description: Party created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
              example:
                success: true
                result:
                  id: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  externalId: user-12345
                  partyType: INDIVIDUAL
                  status: ACTIVE
                  firstName: Jane
                  lastName: Doe
                  address:
                    addressLine1: 1 Example Street
                    city: Amsterdam
                    postalCode: 1011AB
                    country: NL
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
                  version: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /parties/{partyId}:
    get:
      tags:
      - Parties
      summary: Get party details
      description: 'Retrieves detailed information about a specific party by ID.


        **Returns:**

        - Complete party information including personal/organization details

        - Current KYC/KYB status

        - Address information

        - Party status (ACTIVE, SUSPENDED, BLOCKED)

        '
      operationId: getParty
      parameters:
      - $ref: '#/components/parameters/PartyId'
      responses:
        '200':
          description: Party details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
              example:
                success: true
                result:
                  id: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  externalId: user-12345
                  partyType: INDIVIDUAL
                  status: ACTIVE
                  firstName: Jane
                  lastName: Doe
                  kycStatus: VERIFIED
                  address:
                    addressLine1: 1 Example Street
                    city: Amsterdam
                    postalCode: 1011AB
                    country: NL
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
                  version: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Parties
      summary: Update party details
      description: 'Updates an existing party''s information. Only provided fields will be updated.


        **For Individuals:** Can update firstName, lastName, and address

        **For Organisations:** Can update name, vatNumber, and address


        **Optimistic locking:** You must send the current `version` of the party. If the

        version is stale the request fails with `409 concurrent-modification` — re-fetch and retry.


        **Note:** Cannot change partyType after creation. KYC/KYB status is managed separately.

        '
      operationId: updateParty
      parameters:
      - $ref: '#/components/parameters/PartyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartyRequest'
            example:
              version: 0
              firstName: Janet
              lastName: Doe
      responses:
        '200':
          description: Party updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyResponse'
              example:
                success: true
                result:
                  id: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  externalId: user-12345
                  partyType: INDIVIDUAL
                  status: ACTIVE
                  firstName: Janet
                  lastName: Doe
                  address:
                    addressLine1: 1 Example Street
                    city: Amsterdam
                    postalCode: 1011AB
                    country: NL
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
                  version: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Parties
      summary: Delete party
      description: 'Permanently deletes a party. Only allowed when:

        - Party has no associated accounts

        - Party is not in a blocked status

        '
      operationId: deleteParty
      parameters:
      - $ref: '#/components/parameters/PartyId'
      responses:
        '204':
          description: Party deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts:
    get:
      tags:
      - Accounts
      summary: List all accounts
      operationId: listAccounts
      parameters:
      - name: externalId
        in: query
        description: Filter by external ID (exact match)
        schema:
          type: string
        example: user-12345
      - name: status
        in: query
        description: Filter by account status
        schema:
          $ref: '#/components/schemas/AccountStatus'
        example: ACTIVE
      - $ref: '#/components/parameters/SortOn'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
              example:
                success: true
                result:
                - id: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  externalId: user-12345
                  name: Jane Doe — Main
                  kycStatus: VERIFIED
                  status: ACTIVE
                  createdAt: '2026-01-15T09:30:00'
                  version: 0
                pagination:
                  pageNumber: 1
                  pageSize: 20
                  numberOfElements: 1
                  numberOfPages: 1
                  hasNextPage: false
                  hasPreviousPage: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Accounts
      summary: Create a new account
      description: 'Creates a new account and auto-provisions a custodial wallet on the specified chain.


        **Party Association:**

        - Provide `partyId` to associate with an existing party

        - Provide `party` object to create a new party inline (Individual or Organisation)

        - The party is associated as ACCOUNT_HOLDER


        When creating a party inline, specify `partyType: INDIVIDUAL` with firstName/lastName,

        or `partyType: ORGANISATION` with name/vatNumber.


        **SELF_CUSTODY companies** must supply the wallet `address`; VENLY_MANAGED companies

        leave it blank and Venly generates the wallet.

        '
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
            example:
              externalId: user-12345
              name: Jane Doe — Main
              chain: BASE
              address: '0x71C7656EC7ab88b098defB751B7401B5f6d8976F'
              partyId: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
              example:
                success: true
                result:
                  id: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  externalId: user-12345
                  name: Jane Doe — Main
                  kycStatus: VERIFICATION_PENDING
                  status: ACTIVE
                  createdAt: '2026-01-15T09:30:00'
                  version: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Get account details
      operationId: getAccount
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleAccountResponse'
              example:
                success: true
                result:
                  id: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  externalId: user-12345
                  name: Jane Doe — Main
                  kycStatus: VERIFIED
                  status: ACTIVE
                  createdAt: '2026-01-15T09:30:00'
                  version: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/party-roles:
    get:
      tags:
      - Accounts
      summary: List party roles for an account
      description: Returns all parties associated with this account and their roles.
      operationId: listPartyRoles
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of party roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyRoleListResponse'
              example:
                success: true
                result:
                - partyId: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  roleType: ACCOUNT_HOLDER
                  status: ACTIVE
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Accounts
      summary: Add a party to an account
      description: 'Associates an existing party with this account in a specific role.

        A party can only have one role per account.

        '
      operationId: addPartyRole
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartyRoleRequest'
            example:
              partyId: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
              roleType: ACCOUNT_HOLDER
      responses:
        '201':
          description: Party role added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePartyRoleResponse'
              example:
                success: true
                result:
                  partyId: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
                  roleType: ACCOUNT_HOLDER
                  status: ACTIVE
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/party-roles/{partyId}:
    delete:
      tags:
      - Accounts
      summary: Remove a party from an account
      description: 'Removes a party''s role from this account.

        Cannot remove the last ACCOUNT_HOLDER from an account.

        '
      operationId: removePartyRole
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: partyId
        in: path
        required: true
        description: The party ID to remove from the account
        schema:
          type: string
          format: uuid
        example: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
      responses:
        '204':
          description: Party role removed
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/wallets:
    get:
      tags:
      - Wallets
      summary: List wallets for an account
      description: 'Lists the custodial wallets bound to an account, each with its per-asset balances

        (total / available / reserved) and AML screening status.

        '
      operationId: listWallets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletListResponse'
              example:
                success: true
                result:
                - id: 9f8e7d6c-5b4a-4938-8271-6a5b4c3d2e1f
                  chain: BASE
                  type: SELF_CUSTODY
                  address: '0x71C7656EC7ab88b098defB751B7401B5f6d8976F'
                  balances:
                  - asset: USDC
                    contractAddress: '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
                    amount:
                      total: '125.00'
                      available: '100.00'
                      reserved: '25.00'
                  amlStatus: APPROVED
                pagination:
                  pageNumber: 1
                  pageSize: 20
                  numberOfElements: 1
                  numberOfPages: 1
                  hasNextPage: false
                  hasPreviousPage: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/virtual-bank-accounts:
    get:
      tags:
      - Virtual Bank Accounts
      summary: List virtual bank accounts
      operationId: listVirtualBankAccounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/SortOn'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of virtual bank accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualBankAccountListResponse'
              example:
                success: true
                result:
                - id: 4d5e6f70-8192-4a3b-9c4d-5e6f7081920a
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  bankAccountType: EUR_SEPA
                  name: EUR Payouts
                  status: ACTIVE
                  currency: EUR
                  targetCryptocurrency: USDC
                  iban: DE89370400440532013000
                  bic: DEUTDEDB
                  bankName: Example Bank
                  beneficiaryName: Jane Doe
                  referenceCode: VFY-7K2Q-931
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
                pagination:
                  pageNumber: 1
                  pageSize: 20
                  numberOfElements: 1
                  numberOfPages: 1
                  hasNextPage: false
                  hasPreviousPage: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Virtual Bank Accounts
      summary: Create a virtual bank account
      description: 'Creates a virtual bank account for the specified account.


        The client provides a display name, the fiat currency to receive (inCurrency), and the

        target cryptocurrency for conversion. The backend provisions the appropriate bank

        account based on the currency.


        **Requires** the account to be KYC `VERIFIED`.


        **Currently supported:** EUR (provisions a EUR_SEPA account returning IBAN/BIC).

        '
      operationId: createVirtualBankAccount
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualBankAccountRequest'
            example:
              name: EUR Payouts
              inCurrency: EUR
              targetCryptocurrency: USDC
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Virtual bank account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVirtualBankAccountResponse'
              example:
                success: true
                result:
                  id: 4d5e6f70-8192-4a3b-9c4d-5e6f7081920a
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  bankAccountType: EUR_SEPA
                  name: EUR Payouts
                  status: ACTIVE
                  currency: EUR
                  targetCryptocurrency: USDC
                  iban: DE89370400440532013000
                  bic: DEUTDEDB
                  bankName: Example Bank
                  beneficiaryName: Jane Doe
                  referenceCode: VFY-7K2Q-931
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/virtual-bank-accounts/{virtualBankAccountId}:
    get:
      tags:
      - Virtual Bank Accounts
      summary: Get virtual bank account details
      operationId: getVirtualBankAccount
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/VirtualBankAccountId'
      responses:
        '200':
          description: Virtual bank account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleVirtualBankAccountResponse'
              example:
                success: true
                result:
                  id: 4d5e6f70-8192-4a3b-9c4d-5e6f7081920a
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  bankAccountType: EUR_SEPA
                  name: EUR Payouts
                  status: ACTIVE
                  currency: EUR
                  targetCryptocurrency: USDC
                  iban: DE89370400440532013000
                  bic: DEUTDEDB
                  bankName: Example Bank
                  beneficiaryName: Jane Doe
                  referenceCode: VFY-7K2Q-931
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/fiat-to-crypto/payment-sessions:
    post:
      tags:
      - Fiat-to-crypto Payment Sessions
      summary: Create a fiat-to-crypto payment session
      description: 'Creates a hosted pay-in session. The response includes a `paymentUrl` to redirect
        the

        payer to; on completion the incoming fiat is converted to the chosen cryptocurrency and

        credited to the account''s wallet. `callbackUrl` and a UUID `idempotencyKey` are required.

        '
      operationId: createPayInSession
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayInSessionRequest'
            example:
              inAmount: '100.00'
              inCurrency: EUR
              outCryptocurrency: USDC
              callbackUrl: https://example.com/webhooks/pay-in
              successRedirectUrl: https://example.com/pay-in/success
              failureRedirectUrl: https://example.com/pay-in/failure
              externalRef: order-67890
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Payment session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentSessionResponse'
              example:
                success: true
                result:
                  id: 5e6f7081-92a3-4b4c-8d5e-6f708192a3b4
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  status: CREATED
                  inAmount: 100
                  inCurrency: EUR
                  outCryptocurrency: USDC
                  paymentUrl: https://pay.example.com/session/5e6f708192a3b4c8
                  externalRef: order-67890
                  walletId: 9f8e7d6c-5b4a-4938-8271-6a5b4c3d2e1f
                  blockchainTxId: null
                  cancellable: true
                  expiresAt: '2026-01-15T10:30:00Z'
                  metadata:
                    orderId: '67890'
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  createdAt: '2026-01-15T09:30:00'
                  updatedAt: '2026-01-15T09:30:00'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Unsupported currency pair or KYC required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests:
    post:
      tags:
      - Payment Requests
      summary: Create payment request by card provider
      description: 'Creates a payment request without an account ID in the path: the account is resolved
        from `cardProviderReference` (`type` + `referenceId`), then funds are reserved from that account''s
        wallet exactly as the per-account endpoint does. The nested `paymentRequest` body matches `CreatePaymentRequestInput`.

        '
      operationId: createPaymentRequestByCardProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardProviderPaymentRequestInput'
            example:
              cardProviderReference:
                type: paymentology
                referenceId: ACC-12345
              paymentRequest:
                amount: 25
                currency: USD
                externalId: order-67890
                description: 'Order #67890'
                idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Payment request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
              example:
                success: true
                result:
                  id: d4e5f6a7-b8c9-4012-8345-6789abcdef01
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  amount:
                    fiat: 25
                    crypto: '25.000000'
                  originalAmount:
                    fiat: 25
                    crypto: '25.000000'
                  currency: USD
                  externalId: order-67890
                  description: 'Order #67890'
                  status: RESERVED
                  executions:
                  - id: e5f6a7b8-c9d0-4123-9456-789abcdef012
                    walletPairId: f6a7b8c9-d0e1-4234-a567-89abcdef0123
                    type: AUTHORIZATION
                    chain: BASE
                    asset: USDC
                    amount: 25
                    exchangeRate: 1
                    status: RESERVED
                    transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                    createdAt: '2026-01-15T09:30:00Z'
                    updatedAt: '2026-01-15T09:30:02Z'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/payment-requests:
    post:
      tags:
      - Payment Requests
      summary: Create payment request for account
      description: 'Creates a payment request for an account, reserving funds from its wallet for the
        payment. The response returns `status: RESERVED`, moves the reserved amount into the wallet''s
        `reserved` balance, and includes an `executions` array — each entry carrying its on-chain `transactionHash`.
        Send a unique `idempotencyKey` per request.

        '
      operationId: createPaymentRequest
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestInput'
            example:
              amount: 25
              currency: USD
              externalId: order-67890
              description: 'Order #67890'
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Payment request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
              example:
                success: true
                result:
                  id: d4e5f6a7-b8c9-4012-8345-6789abcdef01
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  amount:
                    fiat: 25
                    crypto: '25.000000'
                  originalAmount:
                    fiat: 25
                    crypto: '25.000000'
                  currency: USD
                  externalId: order-67890
                  description: 'Order #67890'
                  status: RESERVED
                  executions:
                  - id: e5f6a7b8-c9d0-4123-9456-789abcdef012
                    walletPairId: f6a7b8c9-d0e1-4234-a567-89abcdef0123
                    type: AUTHORIZATION
                    chain: BASE
                    asset: USDC
                    amount: 25
                    exchangeRate: 1
                    status: RESERVED
                    transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                    createdAt: '2026-01-15T09:30:00Z'
                    updatedAt: '2026-01-15T09:30:02Z'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests/{paymentRequestId}/settlements:
    post:
      tags:
      - Payment Requests
      summary: Settle a payment request
      description: 'Finalises a payment request: the settled amount moves from escrow to the company''s
        settlement wallet. The call returns immediately with `status: SETTLING` and the settlement `executions`
        in `PENDING`; the request reaches its terminal `SETTLED` state once those transfers confirm on-chain.


        `amount` is the final settlement figure in the authorized fiat `currency`, and the executions
        follow from how it compares to the authorized amount:


        - Equal to the authorized amount: one `SETTLEMENT` execution.

        - Below the authorized amount: a `SETTLEMENT` plus a `REFUND` that returns the difference from
        escrow to the account wallet.

        - Above the authorized amount: the full escrow settles, plus a `SETTLEMENT_OVERAGE` that collects
        the extra from the account wallet.


        Pass a unique `idempotencyKey`. Sending the same key with the same body again returns the original
        result.

        '
      operationId: settlePaymentRequest
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlePaymentRequestInput'
            example:
              amount: 25
              currency: USD
              idempotencyKey: 7c9e6679-7425-40de-944b-e07fc1f90ae7
      responses:
        '202':
          description: Settlement accepted; on-chain processing is asynchronous
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
              example:
                success: true
                result:
                  id: d4e5f6a7-b8c9-4012-8345-6789abcdef01
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  amount:
                    fiat: 25
                    crypto: '25.000000'
                  settlementAmount:
                    fiat: 25
                    crypto: '25.000000'
                  currency: USD
                  externalId: order-67890
                  status: SETTLING
                  executions:
                  - id: a7b8c9d0-e1f2-4345-b678-9abcdef01234
                    walletPairId: f6a7b8c9-d0e1-4234-a567-89abcdef0123
                    type: SETTLEMENT
                    chain: BASE
                    asset: USDC
                    amount: 25
                    exchangeRate: 1
                    status: PENDING
                    createdAt: '2026-01-15T10:00:00Z'
                    updatedAt: '2026-01-15T10:00:00Z'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T10:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests/settlements:
    post:
      tags:
      - Payment Requests
      summary: Settle a payment request by card-provider reference
      description: 'Settles a payment request identified by its card-provider reference instead of a path
        ID: the request is located from `paymentRequestReference.cardProviderReference` (`type` + `referenceId`)
        and its `externalId`. Behaviour and response match [settle a payment request](#operation/settlePaymentRequest).

        '
      operationId: settlePaymentRequestByReference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlePaymentRequestByReferenceInput'
            example:
              paymentRequestReference:
                cardProviderReference:
                  type: paymentology
                  referenceId: ACC-12345
                externalId: TID-67890
              amount: 25
              currency: USD
              idempotencyKey: 7c9e6679-7425-40de-944b-e07fc1f90ae7
      responses:
        '202':
          description: Settlement accepted; on-chain processing is asynchronous
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests/{paymentRequestId}/reversal:
    post:
      tags:
      - Payment Requests
      summary: Reverse a payment request
      description: 'Unwinds a payment request and returns the entire escrow balance to the account wallet.
        The call returns `status: REVERSING` with a `PENDING` `REVERSAL` execution; the request becomes
        `REVERSED` once that transfer confirms on-chain. `REVERSED` is a final state, and `reason` is
        recorded on the request.


        Pass a unique `idempotencyKey`. Sending the same key with the same body again returns the original
        result.

        '
      operationId: reversePaymentRequest
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReversePaymentRequestInput'
            example:
              reason: CUSTOMER_CANCELLATION
              description: Customer requested cancellation
              idempotencyKey: 1b4e28ba-2fa1-11d2-883f-0016d3cca427
      responses:
        '202':
          description: Reversal accepted; on-chain processing is asynchronous
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
              example:
                success: true
                result:
                  id: d4e5f6a7-b8c9-4012-8345-6789abcdef01
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  amount:
                    fiat: 25
                    crypto: '25.000000'
                  currency: USD
                  status: REVERSING
                  reversalReason: CUSTOMER_CANCELLATION
                  reversalDescription: Customer requested cancellation
                  executions:
                  - id: b8c9d0e1-f2a3-4456-c789-abcdef012345
                    walletPairId: f6a7b8c9-d0e1-4234-a567-89abcdef0123
                    type: REVERSAL
                    chain: BASE
                    asset: USDC
                    amount: 25
                    exchangeRate: 1
                    status: PENDING
                    createdAt: '2026-01-15T10:05:00Z'
                    updatedAt: '2026-01-15T10:05:00Z'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T10:05:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests/reversals:
    post:
      tags:
      - Payment Requests
      summary: Reverse a payment request by card-provider reference
      description: 'Reverses a payment request identified by its card-provider reference instead of a
        path ID: the request is located from `paymentRequestReference.cardProviderReference` (`type` +
        `referenceId`) and its `externalId`. Behaviour and response match [reverse a payment request](#operation/reversePaymentRequest).

        '
      operationId: reversePaymentRequestByReference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReversePaymentRequestByReferenceInput'
            example:
              paymentRequestReference:
                cardProviderReference:
                  type: paymentology
                  referenceId: ACC-12345
                externalId: TID-67890
              reason: NETWORK_DECLINE
              description: Scheme declined after issuer approval
              idempotencyKey: 1b4e28ba-2fa1-11d2-883f-0016d3cca427
      responses:
        '202':
          description: Reversal accepted; on-chain processing is asynchronous
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /payment-requests/{paymentRequestId}:
    patch:
      tags:
      - Payment Requests
      summary: Update the authorized amount of a payment request
      description: 'Sets a new absolute authorized `amount` on a payment request. The execution that runs
        depends on how the new amount compares to the current one:


        - A lower amount releases the difference from escrow back to the account wallet via an `AUTHORIZATION_ADJUSTMENT`
        execution.

        - A higher amount pulls the additional funds from the account wallet into escrow via an `INCREMENTAL_AUTHORIZATION`
        execution.


        The request keeps `status: RESERVED`, `amount` reflects the new value, and `originalAmount` preserves
        the amount set at creation. Pass a unique `idempotencyKey`.

        '
      operationId: updatePaymentRequest
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentRequestInput'
            example:
              amount: 20
              currency: USD
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Amount adjustment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePaymentRequestResponse'
              example:
                success: true
                result:
                  id: d4e5f6a7-b8c9-4012-8345-6789abcdef01
                  accountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  amount:
                    fiat: 20
                    crypto: '20.000000'
                  originalAmount:
                    fiat: 25
                    crypto: '25.000000'
                  currency: USD
                  status: RESERVED
                  executions:
                  - id: c9d0e1f2-a3b4-4567-d89a-bcdef0123456
                    walletPairId: f6a7b8c9-d0e1-4234-a567-89abcdef0123
                    type: AUTHORIZATION_ADJUSTMENT
                    chain: BASE
                    asset: USDC
                    amount: 5
                    exchangeRate: 1
                    status: PENDING
                    createdAt: '2026-01-15T09:45:00Z'
                    updatedAt: '2026-01-15T09:45:00Z'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:45:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{senderAccountId}/transfers/fiat:
    post:
      tags:
      - Transfers
      summary: Create fiat transfer
      description: 'Creates a fiat-denominated transfer from the sender account to a receiver account.

        The fiat amount is resolved to the underlying crypto asset and settled on-chain; the

        response carries a `fiatOrigin` block with the original currency, amount and exchange rate.

        '
      operationId: createFiatTransfer
      parameters:
      - name: senderAccountId
        in: path
        required: true
        description: The account ID initiating the transfer
        schema:
          type: string
          format: uuid
        example: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFiatTransferInput'
            example:
              receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
              currency: USD
              amount: 25
              description: Invoice settlement
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Fiat transfer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTransferResponse'
              example:
                success: true
                result:
                  id: a1b2c3d4-e5f6-4789-9abc-def012345678
                  senderAccountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
                  chain: BASE
                  asset: USDC
                  amount: 25
                  fiatOrigin:
                    currency: USD
                    amount: 25
                    exchangeRate: 1
                  description: Invoice settlement
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status: COMPLETED
                  transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed (e.g. receiver KYC not verified, insufficient balance)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{senderAccountId}/transfers/crypto:
    post:
      tags:
      - Transfers
      summary: Create crypto transfer
      description: 'Creates a cryptocurrency transfer from the sender account to a receiver account,

        moving crypto assets directly between accounts on the specified blockchain.

        Retries with the same `idempotencyKey` return the original transfer (no double-spend).

        '
      operationId: createCryptoTransfer
      parameters:
      - name: senderAccountId
        in: path
        required: true
        description: The account ID initiating the transfer
        schema:
          type: string
          format: uuid
        example: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCryptoTransferInput'
            example:
              receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
              chain: BASE
              asset: USDC
              amount: 25
              description: Invoice settlement
              idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Crypto transfer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTransferResponse'
              example:
                success: true
                result:
                  id: a1b2c3d4-e5f6-4789-9abc-def012345678
                  senderAccountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
                  chain: BASE
                  asset: USDC
                  amount: 25
                  description: Invoice settlement
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status: COMPLETED
                  transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed (e.g. receiver KYC not verified, insufficient balance/allowance)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/transfers:
    get:
      tags:
      - Transfers
      summary: List transfers for account
      description: 'Retrieves all transfers associated with an account (both sent and received, fiat and
        crypto).

        Can filter by account role (sender/receiver) and transfer status.

        '
      operationId: listTransfers
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: accountRole
        in: query
        description: Filter by the account's role in the transfer
        schema:
          type: string
          enum:
          - SENDER
          - RECEIVER
        example: SENDER
      - name: status
        in: query
        description: Filter by transfer status
        schema:
          $ref: '#/components/schemas/TransferStatus'
        example: COMPLETED
      - $ref: '#/components/parameters/SortOn'
      - $ref: '#/components/parameters/SortOrder'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: List of transfers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
              example:
                success: true
                result:
                - id: a1b2c3d4-e5f6-4789-9abc-def012345678
                  senderAccountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
                  chain: BASE
                  asset: USDC
                  amount: 25
                  description: Invoice settlement
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status: COMPLETED
                  transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
                - id: b2c3d4e5-f6a7-4890-abcd-ef0123456789
                  senderAccountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
                  chain: BASE
                  asset: USDC
                  amount: 10
                  description: Invoice settlement
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status: COMPLETED
                  transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
                pagination:
                  pageNumber: 1
                  pageSize: 20
                  numberOfElements: 2
                  numberOfPages: 1
                  hasNextPage: false
                  hasPreviousPage: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/transfers/{transferId}:
    get:
      tags:
      - Transfers
      summary: Get transfer details
      description: 'Retrieves detailed information about a specific transfer. The account must be the

        sender or receiver of the transfer, otherwise a 404 is returned.

        '
      operationId: getTransfer
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: transferId
        in: path
        required: true
        description: The transfer ID
        schema:
          type: string
          format: uuid
        example: a1b2c3d4-e5f6-4789-9abc-def012345678
      responses:
        '200':
          description: Transfer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTransferResponse'
              example:
                success: true
                result:
                  id: a1b2c3d4-e5f6-4789-9abc-def012345678
                  senderAccountId: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
                  receiverAccountId: c3b2a1f0-9d8c-4e3a-bf21-1a2b3c4d5e60
                  chain: BASE
                  asset: USDC
                  amount: 25
                  description: Invoice settlement
                  idempotencyKey: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status: COMPLETED
                  transactionHash: '0xa1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2'
                  createdAt: '2026-01-15T09:30:00Z'
                  updatedAt: '2026-01-15T09:30:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/wallets/{walletId}/permits:
    get:
      tags:
      - Permits
      summary: Get permit messages for wallet
      description: 'Retrieves the EIP-712 permit messages a self-custody wallet must sign to grant the
        orchestration wallet an allowance. Returns one entry per supported asset, each with a `supportedAssetId`
        and the `typedData` to sign.


        Sign `typedData` with the wallet **owner''s** key (the signature must recover to `owner`), then
        submit it via POST.


        **Note:** Applies to SELF_CUSTODY companies only — VENLY_MANAGED wallets (and all escrow wallets)
        are permitted automatically by Venly.

        '
      operationId: getPermitMessages
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WalletId'
      responses:
        '200':
          description: List of permit messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermitMessageListResponse'
              example:
                success: true
                result:
                - supportedAssetId: aabbccdd-1122-4334-9556-7788990011ab
                  asset: USDC
                  contractAddress: '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
                  status: CONFIRMED
                  typedData:
                    types:
                      EIP712Domain:
                      - name: name
                        type: string
                      - name: version
                        type: string
                      - name: chainId
                        type: uint256
                      - name: verifyingContract
                        type: address
                      Permit:
                      - name: owner
                        type: address
                      - name: spender
                        type: address
                      - name: value
                        type: uint256
                      - name: nonce
                        type: uint256
                      - name: deadline
                        type: uint256
                    primaryType: Permit
                    domain:
                      name: USDC
                      version: '2'
                      chainId: 84532
                      verifyingContract: '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
                    message:
                      owner: '0x71C7656EC7ab88b098defB751B7401B5f6d8976F'
                      spender: '0x5B38Da6a701c568545dCfcB03FcB875f56beddC4'
                      value: '115792089237316195423570985008687907853269984665640564039457584007913129639935'
                      nonce: 0
                      deadline: '4102444800'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Permits
      summary: Submit signed permit
      description: 'Submits a signed EIP-712 permit for on-chain execution by the orchestration wallet
        (which pays the gas). The signature **must recover to the wallet `owner`** — otherwise the permit
        settles as `FAILED`.


        Returns HTTP 200 with the permit `status`: `SUBMITTED` while it settles on-chain, then `CONFIRMED`.
        Poll `GET .../permits` for the transition. When all of a wallet''s permits are `CONFIRMED`, the
        wallet becomes `ACTIVE` and can send transfers/payments. Re-submitting an already-confirmed permit
        returns `409`.

        '
      operationId: submitPermit
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WalletId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitPermitRequest'
            example:
              supportedAssetId: aabbccdd-1122-4334-9556-7788990011ab
              signature:
                v: '28'
                r: '0x1111111111111111111111111111111111111111111111111111111111111111'
                s: '0x2222222222222222222222222222222222222222222222222222222222222222'
      responses:
        '200':
          description: Permit submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SinglePermitResultResponse'
              example:
                success: true
                result:
                  id: 11aa22bb-33cc-4dd4-9ee5-66ff77aa88bb
                  supportedAssetId: aabbccdd-1122-4334-9556-7788990011ab
                  asset: USDC
                  contractAddress: '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
                  status: SUBMITTED
                  permitTxId: 0a9f8e7d-6c5b-4a39-8271-6a5b4c3d2e1f
                  skipped: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{accountId}/wallets/{walletId}/allowances:
    get:
      tags:
      - Allowances
      summary: Get wallet token allowances
      description: 'Retrieves the current token allowances for a wallet — which tokens have been approved

        for spending by the orchestration wallet and the approved amounts.


        **Note:** Allowances apply to SELF_CUSTODY companies only.

        '
      operationId: getWalletAllowances
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/WalletId'
      - name: asset
        in: query
        description: Filter by a specific asset (e.g. USDC)
        required: false
        schema:
          type: string
        example: USDC
      responses:
        '200':
          description: List of token allowances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowanceListResponse'
              example:
                success: true
                result:
                - asset:
                    name: USDC
                    contractAddress: '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
                    decimals: 6
                  allowance: '100.000000'
                  orchestrationWallet: '0x5B38Da6a701c568545dCfcB03FcB875f56beddC4'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'OAuth2 client credentials flow. Token endpoints:

        - Staging: https://login-staging.venly.io/auth/realms/VenlyFinance/protocol/openid-connect/token

        - Production: https://login.venly.io/auth/realms/VenlyFinance/protocol/openid-connect/token

        '
      flows:
        clientCredentials:
          tokenUrl: https://login-staging.venly.io/auth/realms/VenlyFinance/protocol/openid-connect/token
          scopes: {}
  parameters:
    PartyId:
      name: partyId
      in: path
      required: true
      description: Unique party identifier
      schema:
        type: string
        format: uuid
      example: 7e3b9c2a-1f4d-4a8b-9c11-2d6e8f0a1b22
    AccountId:
      name: accountId
      in: path
      required: true
      description: Unique account identifier
      schema:
        type: string
        format: uuid
      example: b2a1f0e9-8c7d-4e3a-9f21-0a1b2c3d4e5f
    PaymentRequestId:
      name: paymentRequestId
      in: path
      required: true
      description: Unique payment request identifier
      schema:
        type: string
        format: uuid
      example: d4e5f6a7-b8c9-4012-8345-6789abcdef01
    WalletId:
      name: walletId
      in: path
      required: true
      description: Unique wallet identifier
      schema:
        type: string
        format: uuid
      example: 9f8e7d6c-5b4a-4938-8271-6a5b4c3d2e1f
    VirtualBankAccountId:
      name: virtualBankAccountId
      in: path
      required: true
      description: Unique virtual bank account identifier
      schema:
        type: string
        format: uuid
      example: 4d5e6f70-8192-4a3b-9c4d-5e6f7081920a
    Page:
      name: page
      in: query
      description: Page number (1-based indexing)
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
      example: 1
    Size:
      name: size
      in: query
      description: Number of items per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        minimum: 1
      example: 20
    SortOn:
      name: sortOn
      in: query
      description: Field to sort by
      required: false
      schema:
        type: string
        default: createdAt
      example: createdAt
    SortOrder:
      name: sortOrder
      in: query
      description: Sort direction
      required: false
      schema:
        type: string
        default: ASC
        enum:
        - ASC
        - DESC
      example: DESC
  responses:
    BadRequest:
      description: Request validation failed (400)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: invalid-request
              message: The request contains invalid parameters.
    Unauthorized:
      description: Authentication required or failed (401)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: unauthenticated
              message: Please authenticate to perform this action.
    Forbidden:
      description: Caller lacks the required authority/role (403)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: forbidden
              message: You do not have permission to access this resource.
    NotFound:
      description: Resource not found (404)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: account-not-found
              message: The requested resource was not found.
    Conflict:
      description: Resource conflict / optimistic-lock failure (409)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: concurrent-modification
              message: This request has been modified by another user. Please refresh and try again.
    PaymentRequired:
      description: Funds or allowance insufficient to complete the operation (402)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: insufficient-funds
              message: The account wallet balance is insufficient to complete this operation.
    UnprocessableEntity:
      description: Idempotency conflict — the key was reused with a different body, or replays an operation
        that originally failed (422)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: idempotency-conflict
              message: This idempotency key was already used with a different request.
    InternalServerError:
      description: Unexpected server error (500)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            errors:
            - code: internal-error
              message: An unexpected error occurred. Please try again later.
  schemas:
    PartyType:
      type: string
      description: Type of party
      enum:
      - INDIVIDUAL
      - ORGANISATION
    PartyStatus:
      type: string
      description: Status of a party
      enum:
      - ACTIVE
      - SUSPENDED
      - BLOCKED
    PartyRoleType:
      type: string
      description: Role type for the party-account relationship
      enum:
      - ACCOUNT_HOLDER
    PartyRoleStatus:
      type: string
      description: Status of a party role
      enum:
      - ACTIVE
      - INACTIVE
    AccountStatus:
      type: string
      description: Status of an account
      enum:
      - ACTIVE
      - SUSPENDED
      - CLOSED
    WalletType:
      type: string
      description: Custody model of the wallet
      enum:
      - VENLY_MANAGED
      - SELF_CUSTODY
    VirtualBankAccountStatus:
      type: string
      description: Status of a virtual bank account
      enum:
      - ACTIVE
      - CLOSED
    BankAccountType:
      type: string
      description: 'Type of bank account, determining the payment rails.

        Currently only EUR_SEPA is provisioned. Future rails (USD_WIRE, USD_ACH, GBP_FPS, …)

        will be added in later releases.

        '
      enum:
      - EUR_SEPA
    BlockchainNetwork:
      type: string
      description: Supported blockchain network
      enum:
      - AVALANCHE
      - BASE
      - POLYGON
    Cryptocurrency:
      type: string
      description: Supported cryptocurrency / stablecoin asset
      enum:
      - USDC
      - EURC
      - USDT
      - USDS
    FiatCurrency:
      type: string
      description: Supported fiat currencies. Virtual bank accounts currently support EUR only.
      enum:
      - EUR
      - GBP
      - USD
    KycStatus:
      type: string
      description: KYC verification status (Individuals & accounts)
      enum:
      - VERIFICATION_PENDING
      - VERIFIED
      - REJECTED
    KybStatus:
      type: string
      description: KYB verification status (Organisations)
      enum:
      - PENDING
      - VERIFIED
      - DENIED
    AmlStatus:
      type: string
      description: AML screening status of a wallet
      enum:
      - PENDING
      - APPROVED
      - REJECTED
    TransferStatus:
      type: string
      description: Status of a transfer
      enum:
      - PENDING
      - COMPLETED
      - FAILED
    PaymentRequestStatus:
      type: string
      description: Status of a payment request
      enum:
      - PENDING
      - RESERVED
      - SETTLING
      - SETTLED
      - SETTLED_WITH_SHORTFALL
      - REVERSING
      - REVERSED
      - FAILED
    PaymentExecutionStatus:
      type: string
      description: Status of a single payment-request execution
      enum:
      - PENDING
      - RESERVED
      - SETTLED
      - REVERSED
      - FAILED
    PaymentExecutionType:
      type: string
      description: The role an execution plays in a payment request's lifecycle.
      enum:
      - AUTHORIZATION
      - INCREMENTAL_AUTHORIZATION
      - AUTHORIZATION_ADJUSTMENT
      - SETTLEMENT
      - SETTLEMENT_OVERAGE
      - REFUND
      - REVERSAL
    ReversalReason:
      type: string
      description: Why a payment request was reversed (recorded for audit).
      enum:
      - CUSTOMER_CANCELLATION
      - MERCHANT_VOID
      - ACQUIRER_FAILURE
      - NETWORK_DECLINE
      - OTHER
    PermitStatus:
      type: string
      description: Status of an EIP-712 permit
      enum:
      - PENDING
      - SUBMITTED
      - CONFIRMED
      - FAILED
    PaymentSessionStatus:
      type: string
      description: Status of a fiat-to-crypto payment session
      enum:
      - CREATED
      - PENDING_PAYMENT
      - PAYMENT_RECEIVED
      - CONVERTING
      - MINTING
      - COMPLETED
      - FAILED
      - EXPIRED
      - CANCELLED
      - REFUNDING
      - REFUNDED
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the request was successful
    Pagination:
      type: object
      description: Pagination metadata (top-level sibling of `result`)
      properties:
        pageNumber:
          type: integer
          format: int32
          description: Current page number (1-based)
        pageSize:
          type: integer
          format: int32
          description: Number of items per page
        numberOfElements:
          type: integer
          format: int64
          description: Total number of items across all pages
        numberOfPages:
          type: integer
          format: int32
          description: Total number of pages
        hasNextPage:
          type: boolean
          description: Whether there is a next page
        hasPreviousPage:
          type: boolean
          description: Whether there is a previous page
    ErrorResponse:
      type: object
      description: Error response wrapper
      properties:
        success:
          type: boolean
          description: Always false for error responses
          example: false
        errors:
          type: array
          description: List of errors that occurred
          items:
            $ref: '#/components/schemas/ErrorBody'
        result:
          type: object
          nullable: true
          description: Null or omitted when success is false
    ErrorBody:
      type: object
      description: Individual error details
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: invalid-request
        message:
          type: string
          description: Human-readable error message
          example: The request contains invalid parameters.
    Address:
      type: object
      description: Standardized address format used across all endpoints
      properties:
        addressLine1:
          type: string
          maxLength: 255
        addressLine2:
          type: string
          maxLength: 255
        city:
          type: string
          maxLength: 100
        state:
          type: string
          maxLength: 100
        postalCode:
          type: string
          maxLength: 20
        country:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code
    Party:
      type: object
      description: 'A party represents an Individual or Organisation that can hold accounts.

        The partyType field determines which additional fields are present.

        '
      properties:
        id:
          type: string
          format: uuid
        externalId:
          type: string
          description: External reference ID
        partyType:
          $ref: '#/components/schemas/PartyType'
        status:
          $ref: '#/components/schemas/PartyStatus'
        firstName:
          type: string
          description: First name (Individual only)
        lastName:
          type: string
          description: Last name (Individual only)
        kycStatus:
          $ref: '#/components/schemas/KycStatus'
        name:
          type: string
          description: Organisation name (Organisation only)
        vatNumber:
          type: string
          description: VAT number (Organisation only)
        kybStatus:
          $ref: '#/components/schemas/KybStatus'
        address:
          $ref: '#/components/schemas/Address'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer
          format: int64
          description: Optimistic-locking version, required when updating
    CreatePartyRequest:
      type: object
      required:
      - partyType
      properties:
        partyType:
          $ref: '#/components/schemas/PartyType'
        externalId:
          type: string
          maxLength: 255
          description: Optional external reference ID
        firstName:
          type: string
          maxLength: 100
          description: Required for INDIVIDUAL parties
        lastName:
          type: string
          maxLength: 100
          description: Required for INDIVIDUAL parties
        name:
          type: string
          maxLength: 255
          description: Organisation name. Required for ORGANISATION parties
        vatNumber:
          type: string
          maxLength: 50
          description: VAT number. ORGANISATION parties only
        address:
          $ref: '#/components/schemas/Address'
      example:
        partyType: INDIVIDUAL
        firstName: John
        lastName: Doe
        address:
          addressLine1: 123 Main Street
          city: Amsterdam
          postalCode: 1012AB
          country: NL
    UpdatePartyRequest:
      type: object
      required:
      - version
      description: 'Update party details. Only fields applicable to the party type can be updated.

        For Individuals: firstName, lastName, address.

        For Organisations: name, vatNumber, address.

        '
      properties:
        version:
          type: integer
          format: int64
          description: Current version of the party for optimistic locking
        firstName:
          type: string
          maxLength: 100
          description: First name (Individual only)
        lastName:
          type: string
          maxLength: 100
          description: Last name (Individual only)
        name:
          type: string
          maxLength: 255
          description: Organisation name (Organisation only)
        vatNumber:
          type: string
          maxLength: 50
          description: VAT number (Organisation only)
        address:
          $ref: '#/components/schemas/Address'
    SinglePartyResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/Party'
    PartyListResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/PartyListItem'
          pagination:
            $ref: '#/components/schemas/Pagination'
    PartyRole:
      type: object
      description: Represents the relationship between a Party and an Account
      properties:
        partyId:
          type: string
          format: uuid
        roleType:
          $ref: '#/components/schemas/PartyRoleType'
        status:
          $ref: '#/components/schemas/PartyRoleStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AddPartyRoleRequest:
      type: object
      required:
      - partyId
      - roleType
      properties:
        partyId:
          type: string
          format: uuid
          description: ID of the party to add to the account
        roleType:
          $ref: '#/components/schemas/PartyRoleType'
    SinglePartyRoleResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/PartyRole'
    PartyRoleListResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            type: array
            description: Party roles for the account (not paginated)
            items:
              $ref: '#/components/schemas/PartyRole'
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        externalId:
          type: string
        name:
          type: string
          description: Display name for the account
        kycStatus:
          $ref: '#/components/schemas/KycStatus'
        status:
          $ref: '#/components/schemas/AccountStatus'
        createdAt:
          type: string
          format: date-time
        version:
          type: integer
          format: int64
          description: Optimistic-locking version
    CreateAccountRequest:
      type: object
      required:
      - externalId
      - chain
      description: 'Create a new account. You can either:

        - Reference an existing party by providing `partyId`

        - Create a new party inline by providing the `party` object


        SELF_CUSTODY companies must also supply the wallet `address`.

        '
      properties:
        externalId:
          type: string
          minLength: 1
          description: Unique external reference for this account
        name:
          type: string
          maxLength: 255
          minLength: 1
          description: Display name for the account
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'
        address:
          type: string
          description: Wallet address. Required for SELF_CUSTODY companies
        partyId:
          type: string
          format: uuid
          description: ID of an existing party to associate as account holder
        party:
          $ref: '#/components/schemas/CreatePartyRequest'
        cardProviderReference:
          $ref: '#/components/schemas/CardProviderReference'
      example:
        externalId: user-12345
        name: John Doe Account
        chain: BASE
        party:
          partyType: INDIVIDUAL
          firstName: John
          lastName: Doe
          address:
            addressLine1: 123 Main Street
            city: Amsterdam
            postalCode: 1012AB
            country: NL
    SingleAccountResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/Account'
    AccountListResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/Account'
          pagination:
            $ref: '#/components/schemas/Pagination'
    CryptoBalance:
      type: object
      description: Balance breakdown for a single asset, as decimal strings
      properties:
        total:
          type: string
        available:
          type: string
        reserved:
          type: string
    TokenBalance:
      type: object
      properties:
        asset:
          type: string
          description: Asset symbol (e.g. USDC)
        contractAddress:
          type: string
          description: ERC-20 contract address of the asset
        amount:
          $ref: '#/components/schemas/CryptoBalance'
    Wallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'
        type:
          $ref: '#/components/schemas/WalletType'
        address:
          type: string
        balances:
          type: array
          items:
            $ref: '#/components/schemas/TokenBalance'
        amlStatus:
          $ref: '#/components/schemas/AmlStatus'
    WalletListResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/Wallet'
          pagination:
            $ref: '#/components/schemas/Pagination'
    VirtualBankAccount:
      type: object
      description: 'Virtual bank account for receiving payments. EUR_SEPA accounts return iban/bic.

        '
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        bankAccountType:
          $ref: '#/components/schemas/BankAccountType'
        name:
          type: string
          description: Display name for the bank account
        status:
          $ref: '#/components/schemas/VirtualBankAccountStatus'
        currency:
          $ref: '#/components/schemas/FiatCurrency'
          description: Fiat currency this account receives
        targetCryptocurrency:
          $ref: '#/components/schemas/Cryptocurrency'
          description: Cryptocurrency that incoming fiat is converted to
        iban:
          type: string
          description: IBAN for EUR_SEPA accounts
          example: DE89370400440532013000
        bic:
          type: string
          description: BIC/SWIFT code for EUR_SEPA accounts
          example: DEUTDEDB
        bankName:
          type: string
          description: Name of the bank
        beneficiaryName:
          type: string
          description: Name of the account beneficiary
        referenceCode:
          type: string
          description: Unique reference code to include in payment transfers
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateVirtualBankAccountRequest:
      type: object
      description: 'Request to create a virtual bank account. The backend provisions the appropriate

        bank account type based on inCurrency (e.g. EUR -> EUR_SEPA).

        '
      required:
      - name
      - inCurrency
      - targetCryptocurrency
      - idempotencyKey
      properties:
        name:
          type: string
          maxLength: 255
          description: Display name for the bank account
        inCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Fiat currency to receive (ISO 4217). Determines the bank account type (EUR -> EUR_SEPA)
        targetCryptocurrency:
          type: string
          pattern: ^[A-Za-z0-9]{2,10}$
          description: Cryptocurrency to convert incoming fiat payments to (e.g. USDC)
        idempotencyKey:
          type: string
          maxLength: 255
          description: Unique key to prevent duplicate operations on retry
      example:
        name: My EUR Deposit Account
        inCurrency: EUR
        targetCryptocurrency: USDC
        idempotencyKey: a1b2c3d4-e5f6-7890-abcd-ef1234567890
    SingleVirtualBankAccountResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/VirtualBankAccount'
    VirtualBankAccountListResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/VirtualBankAccount'
          pagination:
            $ref: '#/components/schemas/Pagination'
    PaymentSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/PaymentSessionStatus'
        inAmount:
          type: number
          description: Fiat amount to be paid in
        inCurrency:
          type: string
          description: Fiat currency of the incoming payment
        outCryptocurrency:
          type: string
          description: Cryptocurrency the incoming fiat is converted to
        paymentUrl:
          type: string
          format: uri
          description: Hosted URL to redirect the payer to
        externalRef:
          type: string
        walletId:
          type: string
          format: uuid
        blockchainTxId:
          type: string
          nullable: true
        cancellable:
          type: boolean
        expiresAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties:
            type: string
        idempotencyKey:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreatePayInSessionRequest:
      type: object
      required:
      - inAmount
      - inCurrency
      - outCryptocurrency
      - callbackUrl
      - idempotencyKey
      properties:
        inAmount:
          type: string
          pattern: ^\d+(\.\d{1,2})?$
          description: Fiat amount to pay in
        inCurrency:
          type: string
          minLength: 1
          description: Fiat currency of the incoming payment (e.g. EUR)
        outCryptocurrency:
          type: string
          minLength: 1
          description: Cryptocurrency to convert the incoming fiat to (e.g. USDC)
        callbackUrl:
          type: string
          pattern: ^https://.*
          description: HTTPS URL to receive payment status callbacks
        successRedirectUrl:
          type: string
          description: URL to redirect the user to on successful payment
        failureRedirectUrl:
          type: string
          description: URL to redirect the user to on failed payment
        externalRef:
          type: string
          maxLength: 255
          description: Optional external reference
        idempotencyKey:
          type: string
          format: uuid
          description: Unique UUID key to prevent duplicate operations on retry
        metadata:
          type: object
          additionalProperties:
            type: string
    SinglePaymentSessionResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/PaymentSession'
    PaymentExecution:
      type: object
      description: A single on-chain settlement attempt for a payment request
      properties:
        id:
          type: string
          format: uuid
        walletPairId:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/PaymentExecutionType'
        chain:
          $ref: '#/components/schemas/BlockchainNetwork'
        asset:
          type: string
        amount:
          type: number
        exchangeRate:
          type: number
        status:
          $ref: '#/components/schemas/PaymentExecutionStatus'
        transactionHash:
          type: string
        errorMessage:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PaymentRequestAmount:
      type: object
      description: Payment amount, expressed in both the request fiat currency and the settled crypto
        amount. `amount` is the request's current value; `originalAmount` preserves the value at creation
        time (the two can diverge after an adjustment).
      properties:
        fiat:
          type: number
          description: Amount in the request `currency` (e.g. USD)
        crypto:
          type: string
          description: Settled crypto amount as a decimal string (e.g. USDC)
    PaymentRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        amount:
          $ref: '#/components/schemas/PaymentRequestAmount'
        originalAmount:
          $ref: '#/components/schemas/PaymentRequestAmount'
        settlementAmount:
          $ref: '#/components/schemas/PaymentRequestAmount'
        settledAmount:
          $ref: '#/components/schemas/PaymentRequestAmount'
        shortfallAmount:
          $ref: '#/components/schemas/PaymentRequestAmount'
        currency:
          type: string
        externalId:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/PaymentRequestStatus'
        settledAt:
          type: string
          format: date-time
          description: When settlement completed (terminal SETTLED / SETTLED_WITH_SHORTFALL)
        reversalReason:
          $ref: '#/components/schemas/ReversalReason'
        reversalDescription:
          type: string
          description: Optional free-text reason supplied on reversal
        reversedAt:
          type: string
          format: date-time
          description: When the reversal completed
        executions:
          type: array
          items:
            $ref: '#/components/schemas/PaymentExecution'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreatePaymentRequestInput:
      type: object
      required:
      - amount
      - currency
      - idempotencyKey
      properties:
        amount:
          type: number
          description: Payment amount
        currency:
          type: string
          minLength: 1
          description: Currency code (e.g. EUR, USD)
        externalId:
          type: string
          description: Optional external reference ID
        description:
          type: string
          description: Optional payment description
        idempotencyKey:
          type: string
          minLength: 1
          description: Unique key to prevent duplicate operations on retry
    CardProviderReference:
      type: object
      required:
      - type
      - referenceId
      properties:
        type:
          type: string
          minLength: 1
          description: Card provider type identifier (case-sensitive)
        referenceId:
          type: string
          minLength: 1
          description: Unique reference ID from the card provider
    CardProviderPaymentRequestInput:
      type: object
      required:
      - cardProviderReference
      - paymentRequest
      properties:
        cardProviderReference:
          $ref: '#/components/schemas/CardProviderReference'
        paymentRequest:
          $ref: '#/components/schemas/CreatePaymentRequestInput'
    SinglePaymentRequestResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/PaymentRequest'
    PaymentRequestReference:
      type: object
      required:
      - cardProviderReference
      - externalId
      description: Identifies a payment request by the card-provider reference of its account plus the
        request's `externalId` — used by the "by reference" settle/reverse endpoints.
      properties:
        cardProviderReference:
          $ref: '#/components/schemas/CardProviderReference'
        externalId:
          type: string
          minLength: 1
          description: The payment request's externalId (e.g. the card-provider TID)
    SettlePaymentRequestInput:
      type: object
      required:
      - amount
      - currency
      - idempotencyKey
      properties:
        amount:
          type: number
[...]
